extends db_layout.pug


block top_segment
  if error.status
    h.error= error.status
  h.error= message
  

block middle_segment
  if error.stack  
    .flex_h
      .flex_h_2.card_invis
        h.documents_heading.underline_margin_fix Stacktrace
        .flex_h.documents_holder
          pre.stacktrace #{error.stack}
